.root {
  width: 350px;
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  flex-shrink: 0;
  flex-grow: 0;
  background-color: #e6e6e6;
  color: #4d4d4d;
  border-left: solid 1px #ddd;
}
