.root {
  height: 50px;
  background-color: white;
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;;
  justify-content: space-between;
  padding: 0 15px;
  color: #999999;
  border-bottom: dashed 1px #ccc;
  cursor: pointer;
  /*transition: background-color .2s ease-in-out;*/
  &:hover {
    background-color: #f2f2f2;
  }
  &:active {
    background-color: #f9f9f9;
  }
}

.active {
  border-bottom: solid 1px #dddddd;
  color: white;
  background-color: #808080;
  &:hover {
    background-color: #909090;
  }
  &:active {
    background-color: #808080;
  }
}
